header {
    position: fixed;
    z-index: 5000;
    width: 100%;
    background: transparent;
    display: flex !important;
}
header .logo-text {
    margin: auto;
    padding: 2em;
    max-height: 6.5em;
    align-self: center;
    justify-self: center;
    font-size: 16px;
}
header a {
    margin: auto;
    align-self: center;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
}
p
{
    margin: 0;
}
.cover
{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#ffd800, #00ff73ab);
    text-align: center;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-flow: column;
}
.reset-container
{
  height: fit-content;
    max-width: 500px;
    margin: auto;
    font-weight: 300;
    text-align: center;
    padding: 2em 4em;
}
.reset
{
  margin: auto;
  width: fit-content;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
#email
{
  margin-top: 0.75rem;
  text-align: center;
  font-size: 1em;
  background: #fff;

  width: 100%;
  border: 1px solid #858585;
  max-width: 530px;
  padding: 1em 1em;
  border-radius: 50px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
#email::placeholder
{
  color: #b1b1b1;
  letter-spacing: 2pt;
  font-size: 16px;
}
#email:focus
{
  outline: none;
}
#reset-button
{
  width: 75%;
  padding: 1em 0.75em;
  margin: 1em 0 1rem 0;
  font-weight: 600;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

  color: #000;
  font-size: 1em;
  background: #ffd800;
  border: none;
  border-radius: 2em;
}
#reset-button:focus{
  outline: none;
}
.alert-success{
  background-color: #9aff71 !important;
  border-color: #23aa80 !important;
}
.alert-danger
{
  background-color: #facfcf !important;
  border-color: #f9042b !important;
}
.alert p{
  color: black;
  font-size: 14px;
}


/*=======================   @MEDIA    ====================*/


  @media (min-width:500px) {
    .reset-container{
      position: relative;
      width: 500px;
      left: 50%;
      margin-left: -250px;
    }
  }

  @media (max-width: 360px) {
    .reset-container{
      padding: 2em;
    }

    #email{
      padding: 0.75em 2em;
    }
  }
