.onboard {
    padding: 2em;
    margin: auto;
    max-width: 1000px;
    text-align: center;
}
.onboard-form-container {
    width: 100%;
    margin: 4em 0 2em 0;
} 

.onboard-form {
    display: flex;
    flex-direction: column;
    margin-top: 4em; 
}
.onboard-form::before {
    content: 'GET IN TOUCH';
    font-weight: 600;
    font-size: 1.5em;
    color: #838383;
    text-align: center;
    margin-bottom: 1.5em;
}
.onboard-form .textbox {
    margin: auto;
    margin-bottom: 1em; 
    text-align: center;
}
.onboard-form .button {
    margin: auto;
    width: 75%;
    max-width: 12em;
    margin-bottom: 1em; 
}

.error {
    border-color: #ff0000;
    color: #ff0000 !important;
} .error::placeholder {
    color: #ff0000 !important;
}