.onboard-form-container {
}

.onboard-form {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.onboard-form .textbox {
    width: 30em;
    margin-bottom: 1em;
}

.onboard-form .button {
    margin: auto;
}

.onboard-completion {
    padding: 4em;
}

.error {
    border-color: #ff0000;
    color: #ff0000 !important;
} .error::placeholder {
    color: #ff0000 !important;
}