.sessions-holder {
    grid-area: main;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    grid-gap: 1em;
    grid-auto-flow: dense;
    padding: 2em 2em;
    z-index: 1000;
}