<link rel="stylesheet" href="./css/About.css">

{{> header }}

    <!--===============//// CONTENT ////===============-->
    <section>
        <div class="hero">
            <h1 class="page-title">ABOUT US</h1>
        </div>
    </section>
    
    <section>
        <div class="about">
            <div class="about-container">       
                <div class="start">
                    <div class="start-item vision">
                        <h2 class="title">OUR VISION</h2>
                        <p>To create a network where charging will be a handy amenity regardless of space and time!</p>
                    </div>
                    <div class="start-item">
                        <h2 class="title">ABOUT THE SERVICE</h2>
                        

                        <p>We at Amphere understand the indispensability of mobile phones and the need to maintain their battery. 
                        However, no matter how cautiously we charge our devices, things can always end in the definition of 
                        a modern disaster – a dead phone! So, what do you do when you need a backup in the middle of the city? 
                        Do you treasure hunt for a charging point or you log into the barely alive mode of your mobile and 
                        hope it doesn’t die on you?</p>
                        
                        <p>This is where Amphere comes in with its vision to change these dynamics. These low battery foes 
                        are going to be a thing of past soon. Now your phone has its precious back up near you, so you 
                        no longer need to embarrassingly go about asking friends or strangers for favours.</p>

                        <p>With our assistance, you can easily manage the battery levels even outside your home! 
                        Just visit the nearest Amphere partnered café/restaurant near you and avail our service!</p>
                    </div>
                </div>

                {{!-- <div class="need">
                    <h2 class="title">WHAT?</h2>

                    <p>We are here to change these dynamics. These low battery foes are going to be a thing of past soon. 
                    Now your phone has its precious back up near you, so you no longer need to embarrassingly go about 
                    asking friends or strangers for favours. Be it an important call at home or some other urgent work 
                    on your phone, you can handle it all with our assistance. Just visit the nearest Amphere partnered 
                    café/restaurant near you and you have the solution to your low battery problems through our charging 
                    facility. Now you can easily manage the battery levels even outside your home!</p>
                </div> --}}
            </div>
        </div>   

        <!--HOW TO USE-->
        <div class="instructional">
            <div class="instructional-container">
                <div class="instructional-step">
                    <h2 class="step-title">Step 1</h2>
                    <p class="step-info">Visit the nearest Amphere partner café or restaurant and go through our tent card which contains detailed instructions.</p>
                </div>
                <div class="instructional-step">
                    <h2 class="step-title">Step 2</h2>
                    <p class="step-info">Sign up on our website/app (or sign in with an existing account) and book a session. Ask for Amphere.</p>
                </div>
                <div class="instructional-step">
                    <h2 class="step-title">Step 3</h2>
                    <p class="step-info">After the request is processed, acquire the charging equipment from the restaurant staff.</p>
                </div>
                <div class="instructional-step">
                    <h2 class="step-title">Step 4</h2>
                    <p class="step-info">Plug in and tada!<br>Enjoy our hassle-free service and leave with prolonged battery life.</p>
                </div>
            </div>
            
            <div class="spacer"></div>
            <a href="/partner?q=onboard" class="button">Partner with Us</a>
            <div class="spacer"></div>
            <p>Connect with us to generate more value for your business and enhance your customers’ experience.<br><br>
            For business queries, write to us at <a class="link" href="mailto:partner@amphere.in">partner@amphere.in</a> 
            </p>
        </div>
    </section>
    <!--=============//// END CONTENT ////=============-->

{{> footer }}