<link rel="stylesheet" href="./css/About.css">

{{> header }}

    <!--===============//// CONTENT ////===============-->
    <section>
        <div class="hero">
            <h1 class="page-title">ABOUT US</h1>
        </div>
    </section>
    
    <section>
        <div class="about">
            <div class="about-container">       
                <div class="start">
                    <div class="start-item vision">
                        <h2 class="title">VISION</h2>
                        <p>To create an environment where charging will be a handy amenity regardless of space and time, with 
                        people not having to worry about their low battery levels.</p>
                    </div>
                    <div class="start-item">
                        <h2 class="title">WHY?</h2>
                        <p>We at Amphere understand that with the indispensability of mobile phones the need to maintain their 
                        battery levels has become equally essential. No matter where one is, operating one’s phone on the 
                        low battery is stressful. And with the heaping piles of functions that we’ve assigned to our phones, 
                        it is quite obvious that they require a fair share of power. However, despite how cautiously 
                        we charge our devices, things can always end in the definition of a modern disaster – a dead phone! 
                        So, what do you do when you need a backup in the middle of the city? Do you treasure hunt for a 
                        charging point or you log into the barely alive mode of your mobile and hope it doesn’t die on you?</p>
                    </div>
                </div>

                <div class="need">
                    <h2 class="title">WHAT?</h2>

                    <p>We are here to change these dynamics. These low battery foes are going to be a thing of past soon. 
                    Now your phone has its precious back up near you, so you no longer need to embarrassingly go about 
                    asking friends or strangers for favours. Be it an important call at home or some other urgent work 
                    on your phone, you can handle it all with our assistance. Just visit the nearest Amphere partnered 
                    café/restaurant near you and you have the solution to your low battery problems through our charging 
                    facility. Now you can easily manage the battery levels even outside your home!</p>
                </div>

                <div class="spacer"></div>
            </div>
        </div>   

        <!--HOW TO USE-->
        <div class="instructional">
            <div class="instructional-container">
                <div class="instructional-step">
                    <h2 class="step-title">Step 1</h2>
                    <p class="step-info">Visit the nearest Amphere partnered café or restaurant.</p>
                </div>
                <div class="instructional-step">
                    <h2 class="step-title">Step 2</h2>
                    <p class="step-info">Ask for Amphere</p>
                </div>
                <div class="instructional-step">
                    <h2 class="step-title">Step 3</h2>
                    <p class="step-info">Tada!!! You have it with you. <br>Charge your phone and reconnect with your world again with a prolonged battery life</p>
                </div>
            </div>
            
            <div class="spacer"></div>
            <a href="/partner?q=onboard" class="button">Partner with Us</a>
        </div>
    </section>
    <!--=============//// END CONTENT ////=============-->

{{> footer }}