<link rel="stylesheet" href="./css/Homepage.css">

{{> header }}

    <!--===============//// CONTENT ////===============-->
    <section class="hero">
        {{!-- HERO --}}
        <div class="hero-container">
            {{!-- PAGE SLOGAN --}}
            <h1>SAY GOODBYE TO LOW BATTERY</h1>

            <p>Amphere makes it easy for you to enjoy without worrying about your phone</p>

            <div class="spacer"></div>

            <div class="hero-action-container">
                <button class="button" id="signup-button">CREATE ACCOUNT</button>
                <button class="button btn-white" id="session-button">BOOK SESSION</button>
            </div>
        </div>
    </section>

    <section>
        <!--HOW TO USE-->
        <div class="instructional">
            <div class="instructional-container">
                <div class="instructional-step">
                    <h2 class="step-title">Sign Up</h2>
                    <p class="step-info">Sign up with our website<br>Create a free account</p>
                </div>
                <div class="instructional-step">
                    <h2 class="step-title">Book a Session</h2>
                    <p class="step-info">Use the restaurant code<br>to book a new session</p>
                </div>
                <div class="instructional-step">
                    <h2 class="step-title">Enjoy</h2>
                    <p class="step-info">Enjoy hassle free charging<br>without any more issues</p>
                </div>
            </div>
        </div>
    </section>
    <!--=============//// END CONTENT ////=============-->

{{> footer }}

<script>
    document.getElementById("session-button").onclick = () => window.location = "http://account.amphere.in";
    document.getElementById("signup-button").onclick = () => window.location = "/signup";
</script>