<script src="./js/onboarding.js"></script>
<link rel="stylesheet" href="./css/Onboarding.css">

{{> header }}

{{#if onboarding}}
    <!--===============//// CONTENT A ////===============-->
    <section>
        <div class="hero">
            <h1 class="page-title">PARTNER WITH US</h1>
        </div>
    </section>

    <section>
        <div class="onboard">
            <div class="onobard-info-container">
                <h3><b> Amphere aims to partner with businesses and create a network in the city where charging will be a handy amenity.</b></h3>

                Our service is portable, feasible and assists the customers with their 
                technological needs by providing a ready to plug-in charging service. 
                Our ready to use service does not incur the trouble of any infrastructural 
                change. With our assistance, you can create a richer experience for 
                today’s tech savvy crowd. Connect with us to generate more value for 
                your business by submitting the form below.
                <br><br>
                Our team will contact you and showcase how Amphere creates a richer experience for the customers of our partners.
            </div>

            <div class="onboard-form-container container">
                <div class="onboard-form">
                    <input id="r_name" type="text" class="textbox" placeholder="Restaurant Name">
                    <input id="_name" type="text" class="textbox" placeholder="Your Name">
                    <input id="phone" type="text" class="textbox" placeholder="Phone Number">
                    <input id="email" type="text" class="textbox" placeholder="Email">
                    <input id="address" type="text" class="textbox" placeholder="Address">
                    <input id="comments" type="text" class="textbox" placeholder="Comments">
                    <br>
                    <button id="submit" class="button">SUBMIT</button>
                </div>
            </div>
        </div>
    </section>
    <!--=============//// END CONTENT A ////=============-->
{{else}}
    <!--===============//// CONTENT B ////===============-->
    <section>
        <div class="hero">
            <h1 class="page-title">PARTNER WITH US</h1>
        </div>
    </section>

    <section>
        <div class="onboard">
            <h1>Thank you</h1>
            <p>Thank you, the response has been recorded. We'll get back to you on this soon!</p>
        </div>
    </section>
    <!--=============//// END CONTENT B ////=============-->

{{/if}}

    

{{> footer }}

<script>
    var r_name = document.getElementById("r_name");
    var _name = document.getElementById("_name");
    var phone = document.getElementById("phone");
    var email = document.getElementById("email");
    var address = document.getElementById("address");
    var comments = document.getElementById("comments");
    
    document.getElementById("submit").onclick = function () {
        validityState = validateInputs(r_name.value, _name.value, phone.value, email.value, address.value);
        
        if(validityState===true){
            $(r_name).removeClass('error');
            $(_name).removeClass('error');
            $(phone).removeClass('error');
            $(email).removeClass('error');
            $(address).removeClass('error');

            const request = new XMLHttpRequest();
            let url = generateSignupQueryURL({
                "r_name": r_name.value,
                "_name": _name.value,
                "phone": phone.value,
                "email": email.value,
                "address": address.value,
                "comments": comments.value
            });

            request.open('POST', `/onboarding?${url}`, true);
            request.send();

            request.onreadystatechange = event => {
                if (request.readyState === 4 && request.status === 200) {
                    console.log("SUCCESS");
                    window.location = '/partner?q=completion';
                }
            }
        } else if(validityState==="phone"){
            $(phone).addClass('error');
        } else if(validityState==="empty"){
            $(r_name).addClass('error');
            $(_name).addClass('error');
            $(phone).addClass('error');
            $(email).addClass('error');
            $(address).addClass('error');
        }
        return false;
    }
</script>