<script src="js/signup.js"></script>
<link rel="stylesheet" type="text/css" href="./css/SignupPage.css" />

<!--=================== HEADER AND SIDEBAR NAV MENU ===================-->
<header>
    <a href="/"><img class="logo-text" src="assets/amphere-text.svg"></a>
</header>

<!--=================== SIGN UP FORM ===================-->
<div class="cover">
    <div class="login-container">
        <div>
            <p class="form-title">Sign Up</p>

            <input id="email" type="text" class="textbox" placeholder="Email" require autocomplete="email" spellcheck="false">
            <input id="phone" type="text" class="textbox" placeholder="Phone" required autocomplete="username"/>
            <input id="name" type="text" class="textbox" placeholder="Name" required autocomplete="name"/>
            <input id="password" type="password" class="textbox password" placeholder="Password" required autocomplete="new-password"/>
            <input id="conf-password" type="password" class="textbox password" placeholder="Confirm Password" required  autocomplete="new-password"/>

            <button id="signup-btn" class="button">SIGN UP</button>

            <p>Already have an account? <a href="http://account.amphere.in">Sign In</a></p>
        </div>
    </div>
</div>

<script>
    var email = document.getElementById('email');
    var phone = document.getElementById("phone");
    var _name = document.getElementById("name");
    var password = document.getElementById("password");
    var confPassword = document.getElementById("conf-password");

    document.getElementById("signup-btn").onclick = function () {
        validityState = validateInputs(email.value,phone.value, _name.value, password.value, confPassword.value);

        if(validityState===true){
            $(email).removeClass('error');
            $(phone).removeClass('error');
            $(_name).removeClass('error');
            $(password).removeClass('error');
            $(confPassword).removeClass('error');

            const request = new XMLHttpRequest();
            let url = generateSignupQueryURL({
                "email": email.value,
                "phone" : phone.value,
                "name" : _name.value,
                "password" : password.value
            });

            request.open('POST', `/signupWorker?${url}`, true);
            request.send();

            request.onreadystatechange = event => {
                if (request.readyState === 4 && request.status === 200) {
                    let response = JSON.parse(request.response);
                    if(response.state==="SUCCESS"){
                        console.log("SUCCESS");
                        createLoginToken(response).then(()=> {
                            window.location = 'http://account.amphere.in/';
                        });
                    } else if(response.state==="PHONE-EXISTS"){
                        $(phone).addClass('error');
                        alert("ERROR: An account with this phone number already exists!");
                    }   else if (response.state==="EMAIL-EXIST"){
                        $(email).addClass("error");
                        alert("ERROR: An account with this email already exists");
                    }
                }
            }
        } else if(validityState==="confimpass"){
            $(password).addClass('error');
            $(confPassword).addClass('error');
        } else if(validityState==="phone"){
            $(phone).addClass('error');
        } else if(validityState==="empty"){
            $(phone).addClass('error');
            $(_name).addClass('error');
            $(password).addClass('error');
            $(confPassword).addClass('error');
        }
        return false;
    }

    email.onchange = function() {
        var email_regx = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if(email.value!=="" && email_regx.test(email.value)) $(email).removeClass('error');
        else $(email).addClass('error');
    }

    phone.onchange = function () {
        if(phone.value!=="" && /^\d+$/.test(phone.value) && phone.value.length === 10) $(phone).removeClass('error');
        else $(phone).addClass('error');
    }

    _name.onchange = function () {
        if(_name.value!=="") $(_name).removeClass('error');
        else $(_name).addClass('error');
    }

    confPassword.onchange = function () {
        if(confPassword.value===password.value || confPassword.value==="") {
            $(password).removeClass('error');
            $(confPassword).removeClass('error');
        } else {
            $(password).addClass('error');
            $(confPassword).addClass('error');
        }
    }
</script>
