@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,900');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif; 
}

.App {
  text-align: center;
}

/* TYPOGRAPHY ================================================== TYPOGRAPHY */

h1 {
  line-height: 1em;
  font-weight: 900;
  font-size: 2em;
}

h2 {
  line-height: 0.5em;
  font-weight: 500;
  font-size: 1.5em;
}

h3{
  line-height: 0.5em;
  font-weight: 400;
  font-size: 1em;
}

p {
}

/* TEXTBOXES ============================================== TEXTBOXES */

.textbox {
  width: 100%;
  background: transparent;
  border: 1px solid #858585;
  max-width: 530px;
  padding: 0.75em 1em;
  border-radius: 50px;
  font-weight: 400;
}

.textbox-small {
  width: 100%;
  background: transparent;
  border: 1px solid #858585;
  max-width: 530px;
  border-radius: 50px;
  padding: 0.75em 1em;
  font-weight: 400;
}

.password {
  font: large Verdana,sans-serif;
  letter-spacing: 0px;
}

.password::placeholder {
  font-family: 'Roboto', sans-serif;
  letter-spacing: initial;
}

/* LIGHTBOX ================================================== LIGHTBOX */

.lightbox {
  position: fixed;
  background-color: #FFF;
  border-radius: 20px;
  width: 75%;
  height: 75vh;
  top: 12.5vh;
  left: 50%;
  margin-left: -37.5%;
  z-index: 20000;

  animation-name: pop-lightbox;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes pop-lightbox {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}


.lightbox-shadow {
  position: fixed;
  background-color: #00000080;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 15000;

  animation-name: lightbox-shadow;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

/* COVER ================================================== COVER */

.cover {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  animation-name: lightbox-shadow;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes lightbox-shadow {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

/* BUTTONS =============================================== BUTTONS */

.button {
  margin: 2em 1em;
  padding: 1em;
  padding-left: auto;
  padding-right: auto;
  width: 12em;
  color: #000;
  font-weight: 400;
  font-size: 1em;
  background: #ffd800; 
  border: none;
  border-radius: 2em;
} .button:active {
  background: linear-gradient(#ffd800,#ffe13d);
}

/*--------------BUTTON MODIFIERS-----------*/
.btn-mini {
  margin: 0.5em 0.25em;
  width: 8em;
  font-size: 0.5em; 
}

.btn-small {
  margin: 1em 0.5em;
  width: 12em;
  font-size: 0.75em; 
}

.btn-large {
  margin: 2em 1em;
  width: 20em;
  font-size: 1.5em; 
}

.btn-white {
  color: #000;
  background:#fff;
  border: none;
} .btn-white:active {
  background:#eeeeee;
}

.btn-thin {
  color: #000;
  border: 1px solid #000;
  background: transparent;
} .btn-thin:active {
  background: transparent;
}

.btn-thin-white {
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
} .btn-thin-white:active {
  background: transparent;
}

.btn-noborder {
  color: #fff;
  width: fit-content;
  background: transparent;
  border: none;
} .btn-noborder:active {
  background: transparent;
}

/* CROSS BUTTON */

.cross-button {
  border: none;
  background: transparent;
  padding: 1em;
  width: fit-content;
  height: fit-content;
  opacity: 0.5;
}
.cross-button:before , .cross-button:after{
  position: absolute; 
  content: ' ';
  margin-left: -1em;
  height: 2px;
  width: 2em;
  background-color: #ff4e4e;
}
.cross-button:before {
  transform: rotate(45deg);
}
.cross-button:after {
  transform: rotate(-45deg);
}

/* VISUAL ELEMENTS ============================================== VISUAL ELEMENTS */

.checkmark {
  display: inline-block;
}
.checkmark:after {
  content: '';
  display: block;
  width: 7px;
  height: 15px;
  border: solid #00ff37;
  border-width: 0 2px 2px 0;

  transform: rotate(45deg);
}

.checkmark-small{
  width: 5px;
  height: 10px;
}

.crossmark {
  border: none;
  background: transparent;
  float: right;
  padding: 0.5em;
  
  width: fit-content;
  height: fit-content;
  opacity: 1;
}
.crossmark:before, .crossmark:after {
  position: absolute; 
  content: '';
  height: 1em;
  width: 2px;
  background-color: #ff0000;
}

.crossmark:before {
  margin-top: -0.5em;
  transform: rotate(45deg);
}
.crossmark:after {
  margin-top: -0.5em;
  transform: rotate(-45deg);
}

.crossmark-small:before, .crossmark-small:after{
  height: 10px;
}

.spinner {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #86868669;
  border-radius: 50%;
  border-top-color: #00aeff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.spacer {
  padding: 1em;
}

.spacer-small {
  padding: 0.75em;
}