<link rel="stylesheet" href="../css/Footer.css">

<footer>
    <div class="footer-nav">
        <div class="footer-nav-container">
            <ul class="quick-nav">
                <li><a href="/about?">About Us</a></li>
                <li><a href="/contact?">Contact</a></li>
                <!-- <li><a href="/team?">Team</a></li>
                <li><a href="/join?q=info">Careers</a></li> -->
            </ul>
            <ul class="contact">
                <li><a href="/support?">Help & Support</a></li>
                <li><a href="/partner?q=onboard">Partner with Us</a></li>
            </ul>
            <ul class="legal">
                <li><a href="/terms?">Terms and Conditions</a></li>
                <li><a href="/terms?q=damage">Damage Policy</a></li>
                <li><a href="/terms?q=refunds">Cancellation and Refunds</a></li>
            </ul>
            <img src="assets/logo-full-white.svg" alt="logo" class="logo">
        </div>
    </div>
    <div class="footer-banner">
        <p class="footer-site-title">Amphere Solutions</p>
        <div class="footer-social">
            <ul class="footer-social-container">
                <li><a href="http://facebook.com"><img src="assets/facebook.svg" alt="facebook" class="footer-social-link"></a></li>
                <li><a href="http://instagram.com"><img src="assets/insta.svg" alt="instagram" class="footer-social-link"></a></li>
                <li><a href="http://twitter.com"><img src="assets/twitter.svg" alt="twitter"  class="footer-social-link"></a></li>
            </ul>
        </div>
        <img src="assets/logo-full-white.svg" alt="logo" class="logo">
    </div>
</footer>
