.session {
    background-color: #FFF;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 10px;
    position: relative;
    padding: 0;
    width: 100%; 
    margin-bottom: 1em;
    
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    
    transition: all 0.5s ease-in-out;
    animation-name: slideIn-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
@keyframes slideIn-right{
    from{
        right:-50px; 
        opacity:0;
    } 
    to{
        right:0;
        opacity:1;
    }
} .session:last-of-type{
    margin-bottom: 0;
}

.session-details-container {
    padding: 1em 0.75em;
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto auto;
}

.session-cancel-button {
    border: 1px solid #ff0000;
    width: fit-content;
    height: fit-content;
    color: #ff0000;
    border-radius: 50px;
    background-color: #FFF;
    padding: 0.25em 0.75em;
    justify-self: right;
    font-size: 0.65em;
    grid-row: 1/2;
    grid-column: 2/3;
}
.session-number {
    text-align: left;
    float: left;
    font-size: 1.125em;
    margin-bottom: 0.25em;
    grid-row: 1/2;
    grid-column: 1/2;
} 
.session-detail-location {
    text-align: left;
    font-size: 0.8em;
    line-height: 1.125em;
    margin: 0;
    grid-row: 2/3;
    grid-column: 1/2;
}
.session-detail-duration {
    text-align: left;
    font-size: 0.8em;
    line-height: 1.125em;
    margin: 0;
    grid-row: 3/4;
    grid-column: 1/2;
}
.session-detail-time {
    font-size: 0.8em;
    line-height: 1.125em;
    margin: 0;
    grid-row: 2/4;
    grid-column: 2/3;
    justify-self: right;
    display: flex;
    flex-flow: row;
}

.session-time-counter {
    text-align: right;
    font-size: 2em;
    line-height: 1.125em;
    margin: 0 0.25rem 0 0;
    grid-row: 2/4;
    grid-column: 2/3;
}
.session-time {
    text-align: left;
    align-self: center;
    font-size: 0.75em;
    line-height: 1.125em;
    margin: 0 0.25rem 0 0;
    grid-row: 2/4;
    grid-column: 2/3;
}

/* ============================================ */

.purda {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.5em;

    text-align: center;
    color: #fff;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform-origin: bottom;
} 

.prestart{
    background: linear-gradient(90deg, #ffd800, #ff9e00);
}
.active {    
    background: linear-gradient(90deg, #00ff4c,#008a29);
}
.expiry {
    background-color: #444444;
}

.purda p {
    margin: 0;
    font-size: 0.85em;
    animation: fade 0.5s ease-in-out;
} @keyframes fade {
    from {
        opacity: 0;
        transform: translateY(25px);
    } to {
        opacity: 1;
    }
} 