.banner{
    background: linear-gradient(-45deg,#ff9e00,#ffd700);
    padding: 4em 2em 2em 2em;
    height: fit-content;

    color: #000;
    text-align: center;
    line-height: 0.5em;
}
.banner .button {
    padding-top: 1.5em;
    padding-bottom: 1.5em; 
    width: 15em;
    font-weight: 600;
    margin-bottom: 0; 
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.banner p {
    line-height: 1em;
    margin: 0;
}
